{% block ImageType_label %}{% endblock %}
{% block ImageType_errors %}{% endblock %}

{% block ImageType_widget %}
    <div class="row">
        {{ form_widget(form) }}
    </div>
    <div class="col-md-2">
        <a href="#" class="collection-up btn btn-default">up</a>
        <a href="#" class="collection-down btn btn-default">down</a>
    </div>
    <div class="col-md-2">
        <a href="#" class="collection-add btn btn-default">+</a>
        <a href="#" class="collection-remove btn btn-default">-</a>
    </div>
{% endblock %}
