{% extends 'base.html.twig' %}

{% block body %}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Bienvenue</h2>
  </div>
  <div class="mdl-card__supporting-text">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="showTicket">
            <a href="{{ path('tickets_index') }}">Liste des tickets</a>
        </div>    
        <div class="newTicket">    
            <a href="{{ path('tickets_new') }}">Ouvrir un nouveau ticket</a>
        </div>    
      {% endif %}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    
  </div>
  <div class="mdl-card__menu">

  </div>
</div>
{% endblock %}