{% extends "default/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class='confirmuser'>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p>Vous pouvez maintenant créer votre profil entreprise</p><a class="btn btn-primary" href="/entreprise/{{ user.entreprise.id}}/edit">Créer votre profil entreprise</a>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
    </div>
    {% endblock fos_user_content %}
