{% extends "base.html.twig" %}

{% block fos_user_content %}
    <div class="login-base">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text text_title">Connexion à votre compte</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{ include ('@FOSUser/Security/login_content.html.twig') }}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            
          </div>
          <div class="mdl-card__menu">
            
          </div>
        </div>
        
        
        
    </div>
{% endblock %}
