#fos_user_resetting_form{
    text-align:center;
}
#fos_user_resetting_form input[type=password]{
    text-align:center;
}
.connect-container{
    text-align:center;
}
.content-username{
    margin: 3% 0 5% 0;
}