.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/logo.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

nav .brand-logo {
  left: 3%;
}

/* inline_style_edits.inline.css */

#ticket-new {
  width: 60%;
  margin: auto;
}

nav {
  margin: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

#TicketsType {
  border: 1px solid aqua;
  margin-top: 1%;
}

[name] .row:nth-of-type(1) > div:nth-of-type(4) {
  border: 1px solid aqua;
  margin-top: 1%;
}